[Unit]
Description=CMOS's distributed currency daemon
After=network.target

[Service]
User=cmos
Group=cmos

Type=forking
PIDFile=/var/lib/cmosd/cmosd.pid

ExecStart=/usr/bin/cmosd -daemon -pid=/var/lib/cmosd/cmosd.pid \
          -conf=/etc/cmos/cmos.conf -datadir=/var/lib/cmosd

ExecStop=-/usr/bin/cmos-cli -conf=/etc/cmos/cmos.conf \
         -datadir=/var/lib/cmosd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
